<a href="https://colab.research.google.com/github/Soniprincy/My-Practice/blob/main/Purchase_case_study_stat_tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('purchase_data.csv')
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,NaN,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,NaN,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,NaN,NaN,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop(columns=['User_ID','Product_ID'],axis = 1,inplace=True)

In [4]:
df.isnull().sum()

Gender                             1
Age                                1
Occupation                         1
City_Category                      1
Stay_In_Current_City_Years         1
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [5]:
df[['Product_Category_1','Product_Category_2','Product_Category_3']]=df[['Product_Category_1','Product_Category_2','Product_Category_3']].fillna(0)

In [6]:
df.dropna(inplace=True)

In [7]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].replace('4+',4)

In [8]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263014 entries, 0 to 263013
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      263014 non-null  object
 1   Age                         263014 non-null  object
 2   Occupation                  263014 non-null  float64
 3   City_Category               263014 non-null  object
 4   Stay_In_Current_City_Years  263014 non-null  int64
 5   Marital_Status              263014 non-null  float64
 6   Product_Category_1          263014 non-null  float64
 7   Product_Category_2          263014 non-null  float64
 8   Product_Category_3          263014 non-null  float64
 9   Purchase                    263014 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 22.1+ MB

In [10]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [11]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [12]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
for col in df.columns:
    if df[col].dtype=="object":
        df[col]=le.fit_transform(df[col])

In [15]:
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,10.0,0,2,0.0,3.0,0.0,0.0,8370.0
1,0,0,10.0,0,2,0.0,1.0,6.0,14.0,15200.0
2,0,0,10.0,0,2,0.0,12.0,0.0,0.0,1422.0
3,0,0,10.0,0,2,0.0,12.0,14.0,0.0,1057.0
4,1,6,16.0,2,4,0.0,8.0,0.0,0.0,7969.0
...,...,...,...,...,...,...,...,...,...,...
263009,1,3,1.0,1,3,0.0,8.0,0.0,0.0,8061.0
263010,1,3,1.0,1,3,0.0,5.0,18.0,0.0,3722.0
263011,1,3,1.0,1,3,0.0,1.0,8.0,17.0,19253.0
263012,1,3,1.0,1,3,0.0,5.0,7.0,0.0,3608.0
263013,1,3,1.0,1,3,0.0,5.0,0.0,0.0,3604.0

In [16]:
# following inferences we are going to prove using hypothesis Testing

It was observed that the average purchase made by the Menof the age 18-25 was 10000. Is it still the same?

It was observed that the percentage of women of that spendmore than 10000 was 35%. Is it still the same?

Is the average purchase made by men and women of the age18-25 same?

Is the percentage of men who have spent more than10000the same for the ages 18-25 and 26-35?

In [17]:
# 1. It was observed that the average purchase made by the Men of the age 18-25 was 10000. Is it still the same?

In [18]:
# null hypothesis - average purchase is equal to 10000.
# alternate hypothesis - average purchase is not equal to 10000.

In [19]:
# one sample t-test
new_data = df[(df['Age'] == 1) & df['Gender'] == 1]
new_data.head(2)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
97,1,1,16.0,1,0,0.0,3.0,12.0,0.0,3055.0
98,1,1,15.0,0,4,0.0,1.0,8.0,17.0,12099.0

In [20]:
new_data.shape

(36332, 10)

In [26]:
sample = df.sample(3000, random_state= 0)

In [27]:
new_data['Purchase'].mean()

9440.512275679841

In [28]:
a_mean = 10000

In [29]:
from scipy.stats import ttest_1samp

In [30]:
t_stat, p_value = ttest_1samp(sample['Purchase'], a_mean)
print(t_stat, p_value)

-7.27813289401076 4.3022643271741e-13

In [31]:
if p_value>0.05:
    print('null value accepted')
else:
    print('null value rejected')

null value rejected

In [32]:
# 2. It was observed that the percentage of women of that spend more than 10000 was 35%. Is it still the same?

In [33]:
# null hypothesis = percentange of women is 35%.
# alternate hypothesis = percentange of women is not 35%.

In [34]:
new_data = df[df['Purchase']>10000]
new_data.shape

(91057, 10)

In [35]:
c = new_data['Gender'].value_counts()[0]
n = len(new_data['Gender'])
p = 0.35

In [36]:
#checked without proof
proportion = (c*100)/n
proportion

20.520113774888255

In [37]:
from statsmodels.stats.proportion import proportions_ztest

In [38]:
z_stat, p_value = proportions_ztest(count=c, nobs=n, value=p)
print(z_stat, p_value)

-108.19403500300525 0.0

In [39]:
if p_value>0.05:
    print('null value accepted')
else:
    print('null value rejected')

null value rejected

In [40]:
# 3. Is the average purchase made by men and women of the age18-25 same?

In [41]:
# two sampled t test

In [42]:
#h0 = average is equal.
#h1 = average is not equal.

In [43]:
data_men = df[(df['Age']==1) & (df['Gender']==1)]
data_women = df[(df['Age']==1) & (df['Gender']==0)]

In [44]:
data_men.shape

(36332, 10)

In [45]:
data_women.shape

(11861, 10)

In [46]:
data_men['Purchase'].mean()

9440.512275679841

In [47]:
data_women['Purchase'].mean()

8406.001601888542

In [48]:
men = data_men.sample(3000)
women = data_women.sample(3000)

In [49]:
# for applying two sampled t test we need to check weather equal variance or not, so we apply f test.

In [50]:
# h0 = both sample variance are equal.
# h1 = both sample variance are not equal.

In [51]:
from scipy.stats import f

In [52]:
dof1 = len(men['Purchase'])-1
dof2 = len(women['Purchase'])-1
proportion = men['Purchase'].mean()/women['Purchase'].mean()

In [53]:
p_value = 1-f.cdf(dof1, dof2, proportion)
print(p_value)

0.008575501198985425

In [54]:
# finally apply t test

In [55]:
from scipy.stats import ttest_ind
t_stat, p_value = ttest_ind(men['Purchase'], women['Purchase'], equal_var=False)
print(t_stat, p_value)

9.133374208538164 8.934903484667466e-20

In [56]:
# 4. Is the percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35?

In [57]:
data1 = df[(df['Age']==1) & (df['Purchase']>10000)]
data2 = df[(df['Age']==2) & (df['Purchase']>10000)]

In [58]:
len(data1)

16610

In [59]:
len(data2)

36333

In [60]:
one = data1.sample(1000, random_state=0)
two = data2.sample(1000, random_state=0)

In [61]:
c = [(one['Gender']==1).sum() , (two['Gender']==1).sum()]
nob = [len(one), len(two)]
value = 0

In [62]:
from statsmodels.stats.proportion import proportions_ztest
z_stat, p_value = proportions_ztest(count=c, nobs=nob, value=value)
print(z_stat, p_value)

-1.1750387227102372 0.2399792241715063

In [63]:
if p_value>0.05:
    print('null value accepted')
else:
    print('null value rejected')

null value accepted